
.stButton>button {
    width: 100%;
    color: rgb(228, 61, 106);
    border-color:rgb(228, 61, 106);
}

h1 {
    font-size: 3em;
    margin: 0;
    color: black;
    text-align: center;
}

/* p{
    font-size: 1.2em;
    color: black;
    text-align: center;
} */
